.welcome-sec{
    background-image: url("../image/cookiewall.jpg");
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    height: 35em;
    width: 100%;
}
#hero-title{
position:absolute;
color:white;
text-align: center;
top: 50%;
left: 50%;
transform: translate(-50%, -13em);
margin-bottom: 2em;
}

.illustration{
    width: 70%;
    min-width: 15em;
    align-self: center;
}
.cta-sec{
display:flex;
align-content:center;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 5em;
}