.cookie-image{
  width: 100%;
  max-height: 10em;
  border-radius: 10px;
  overflow: hidden;
}
.pin{
  margin:15px 10px;
  padding: 0;
  background: #FFE9B0;
  border-radius: 20px;
}
.pin-wrapper{
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.small{
  /*each card is made of 26 rows of the grid, each row spans 10px */
  grid-row-end: span 35; 
}
.cookie-pin{
  grid-row-end: span 35; 
  padding: 30px;
  text-align: center;
}
.medium{
grid-row-end: span 45;
}
.large{
  grid-row-end: span 60;
  
}
.pin-content{
  color: #131313;
  overflow: hidden;
}
.pin:hover{
  background: #A67C52;
}